@import "tailwindcss";

@theme {
  --color-primary: #3525cd;
  --color-sidebar: #eff4ff;
  --color-success: #10B981;
  --color-error: #F43F5E;
  --color-warning: #F59E0B;
  --font-sans: var(--font-inter), 'Inter', sans-serif;
  --font-mono: var(--font-jetbrains-mono), 'JetBrains Mono', monospace;
}

html,
body {
  background-color: #F8FAFC;
}
